div{
    background-color: #0a0a0a; /*<h>の背景色*/
    width: 1100px; /*幅 */
    height:300px;
    margin-top: 30px; /*  */
    margin-right: 120px; 
    margin-bottom: 10px; 
    margin-left: 120px; 
    margin:30px 60px 90px 120px; 
    margin:10 auto; /* auto->ボックスを中央ぞろえ */
    display:flex;
    justify-content: space-evenly; 
}

ul{
    width:70%;
    justify-content: space-evenly; /* width 값 주고 지정해야 하는 속성 */
    background-color: #0a0a0a;
    display:flex;
}
